---
---
@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,500,500i,700,700i|PT+Serif:400,400i,700,700i|Roboto:400,400i,500,500i,700,700i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:200,300,400&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i&subset=cyrillic');
@import url('https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin-ext');
//@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i&amp;subset=cyrillic|Alegreya+Sans:400,400i,500,500i,700,700i|PT+Serif:400,400i,700,700i|Roboto:400,400i,500,500i,700,700i&subset=cyrillic');

// Our variables
$base-font-family: "Computer Modern Bright", "Source Sans Pro", "PT Serif", "Roboto", Bitter, "Apple SD Gothic Neo", AppleGothic, NanumBarunGothic, "Malgun Gothic", Dotum, sans-serif;
$monospace-font-family: 'Inconsolata', Monaco, Menlo, Consolas, "Courier New", DotumChe, monospace; // 'IBM Plex Mono'
$base-font-size:   20px; // 24px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #ffffff;
$brand-color:      #2568ba;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    900px; // 1000px;

$on-palm:          600px;
$on-laptop:        800px;



// whiteglass also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from the `whiteglass` theme.
@import "whiteglass";

/* --- Post title --- */
.post-meta {
    font-size: 18px;
    font-family: "Computer Modern Bright";
}

pre, code {
    font-family: $monospace-font-family;
    font-size: 20px; // 16px;
    border-radius: 0;
    border: 0px;
    background-color: transparent;
    
    // > border: 1px solid $grey-color-light;
    // > border-radius: 0;
    // background-color: lighten($grey-color-light, 5%);
    // > background-color: #fcfcfc;
}

.highlighter-rouge .highlight {
    background-color: transparent;
    // background-color: #fcfcfc;
    // border: 1px solid #000;
    // border-radius: 0;
}

.highlight .c {
    color: #998;
    font-style: italic;
    font-size: 16px;
}

/* --- Links --- */
a {
    color: #06e;
    text-decoration:none;
}
a:visited {
    color: #06e;
}

blockquote {
    font-family: "Computer Modern Concrete";
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Computer Modern Bright";
}

h3 {
    padding-top: 30px;
    font-weight: 700;
}

h1 {
    font-weight: 700;
}

.page-content {
    padding-top: 60px;
}

p {
    margin: 1em 0;
    text-align: justify;
}

.site-footer p {
    text-align: center;
}

.site-header {
    font-size: 18px;
}

.site-title {
    font-size: 18px;
}

/* --- Admonitions --------------------------------------------------------- */
.note {
    font-family: "Alegreya Sans";
    font-size: 75%;
    line-height: 125%;
    float: left;
    width: 240px; // 240px;
    padding: 0;
    margin-left: -270px; // -270px;
}

.note code {
    font-size: 75%;
}

.note p {
    text-align: left;
    padding: 0;
    margin:0;
    padding-top: 0.5em;
}
.note p.first {
    padding: 0;
    padding-bottom: .5em;
    font-weight: 400;
    border-bottom: 1px solid #000;
}

.legend {
    font-family: "Alegreya Sans";
    font-size: 75%;
    line-height: 125%;
    padding: 0;
    float: right;
    width: 240px; // 240px;
    margin-right: -270px; // 270px;
}
.legend p {
    text-align: left;
    padding: 0;
    margin:0;
    padding-top: 0.5em;
}
.legend p.first {
    padding: 0;
    padding-bottom: .5em;
    font-weight: 400;
    border-bottom: 1px solid #000;
}

.legend code {
    font-size: 75%;
}

@media all and (max-width: 1400px) {
    .note,
    .legend {
        box-sizing: border-box;
        width: 80%;
        margin: 10px auto;
        float: none;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        border-radius: 5px;
        padding: 10px;
    }
}

@media all and (max-width: 870px) {
    pre.code,
    pre.output {
        padding-left: 0.5em;
    }

    body {
        font-size: 16px;
    }
}

@media all and (max-width: 500px) {
    body {
        font-size: 14px;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}

th {
    border: 1px solid #000000;
    padding: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 4px;
    text-align: left;
    background-color: #ddd;
}

td {
    border:1px solid #000000;
    padding: 2px;
    padding-left: 4px;
}

