---
---
@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,500,500i,700,700i|PT+Serif:400,400i,700,700i|Roboto:400,400i,500,500i,700,700i&subset=cyrillic');

// Our variables
$base-font-family: "PT Serif", "Roboto", Bitter, "Apple SD Gothic Neo", AppleGothic, NanumBarunGothic, "Malgun Gothic", Dotum, sans-serif;
$monospace-font-family: Monaco, Menlo, Consolas, "Courier New", DotumChe, monospace;
$base-font-size:   24px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #ffffff;
$brand-color:      #2568ba;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        800px;



// whiteglass also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from the `whiteglass` theme.
@import "whiteglass";

pre, code {
    font-family: $monospace-font-family;
    font-size: 16px;
    border: 1px solid $grey-color-light;
    border-radius: 0;
    background-color: lighten($grey-color-light, 5%);
}

blockquote {
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Alegreya Sans";
}

h3 {
    padding-top: 30px;
    font-weight: 700;
}

h1 {
    font-weight: 700;
}

.page-content {
    padding-top: 60px;
}

.site-header {
    font-size: 18px;
}

.site-title {
    font-size: 18px;
}
